<div id="barra_imagen" >


 <img id="ap" src="assets/img/download.png" />


  <i class="fas fa-user" aria-hidden="true"></i>
  <input type="text" class="barra__input" name="Usuario" placeholder="Email



  " required="" />

  <i class="fas fa-lock" aria-hidden="true"></i>
  <input type="password" class="barra__input" name="contraseña" placeholder="Password" required="" />

  <button> Sign Up</button>

  <i class="fab fa-instagram" aria-hidden="true"></i>
  <i class="fab fa-facebook-square" aria-hidden="true"></i>
  <a href="https://www.facebook.com/Estudio-Zoppi-Hnos-753112934753647">
"facebook"
  </a>

</div>
